// Tree View
// -------------------

// Used to explore and open files in the current project.
// Overrides: atom/tree-view

.tree-view-resizer {
  border-right: 1px solid @base-border-color;
}

.tree-view {
  color: @text-color;

  //background

  .tree-view-root {
    background-color: @base-baground-color-op;
  }

  .list-item.selected {
    color: @text-color-selected;
    &::before {
      background: @tree-view-selected;
    }
  }
}
